.about_section {
  width: 100vw;
  height: 150vh;
  position: relative;
  text-align: center;
  @include place(column, end, center);
  align-items: center;
  z-index: 0;
  padding: 20px 0 50px 0;
  @media (max-width: $mobile) {
    height: 100vh;
  }
}

.main-photo {
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  z-index: -1;
  filter: drop-shadow(1px 1px 30px rgb(243, 243, 243));
  @media (max-width: 610px) {
    max-width: 80vw;
  }
}

.about-bg {
  position: absolute;
  z-index: -2;
  width: 90vw;
  top: 0;
  @media (max-width: $mobile){
    width: 100vw;
    height: 400px;
    top: 10px;
  }
}

.subtitle-about {
  position: absolute;
  display: flex;
  top: 20vh;
  z-index: -2;
  color: #fff;
  @extend %tplfont;
  font-size: 5em;

  @media (max-width: $mobile) {
    font-size: 1.5em;
  }
}

.subtitle1-about {
  margin-left: 0;
  transition: margin-left 1.5s ease;
  @media (max-width: $mobile) {
    margin-left: 30vw;
  }
}

.tittle-about {
  color: #fab5d8;
  @extend %tplfontrubik;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
  text-shadow: black 1px 5px 6px;
}

.timer-wrap{
  background-color: #301c54;
  border-radius: 20px;
  border-top: 4px solid #c5b8ec;
  border-bottom: 5px solid #1d1a25;
  padding-top: 15px;
  margin-top: 0;
}

.timer-container{
  width: 40vw;
  @include place(row, center, center);
  text-align: center;
  margin-bottom: 5px;
  @media (max-width: $mobile) {
    width: 75vw;
  }
}

.timer{
  background-color: #fff;
  border: 3px solid #1b1a1a;
  border-radius: 15px;
  color: #000;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 0 5px;
}

.colon {
  color: #fff;
  font-size: 50px;
  margin: 0 5px;
}

.timer-text {
  color: #fff;
  font-size: 18px;
}

.sum-about {
  text-decoration: line-through;
  font-size: 2rem;
  color: #d4197a;
  transition: margin 0.7s ease;
  @extend %tplfontrubik;
  text-shadow: #000 1px 1px;
  @media (max-width: $mobile) {
    margin: 10px 0;
  }
}

.about-start {
  position: absolute;
  top: 20px;
  width: fit-content;
  padding: 0 20px;
  height: 80px;
  border-radius: 40px;
  border: 3px solid #dde4fdf8;
  @include place(row, center, center);
  align-items: center;
  color: rgb(243 186 215);
  font-weight: 600;
  font-size: 2em;
  box-shadow: 0px 0px 15px rgb(141, 96, 237), inset 0px 0px 15px rgb(188, 141, 235);
  @media (max-width: $mobile) {
    padding: 0;
    width: 70vw;
    font-size: 32px;
  }
}

.about-start_date {
  margin-left: 5px;
}
