.about-author_section {
  @include place(column, center, center);
  margin-top: 50px;
}

.about-author_photo_main-container {
  display: flex;
  height: 300px;
}

.wrap_about-author{
  position: absolute;
  width: 120%;
  height: 100%;
  background-image: url("../../assets/images/IMG_4665.PNG");
  background-size: cover;
  z-index: 2;
}

.about-author_photo_container {
  position: relative;
  width: 80vw;
}

.about-author_photo {
  position: absolute;
  width: 35vw;
  height: 100%;
  left: -10px;
  z-index: 1;
  @media (max-width: $mobile) {
    width: 50vw;
    float: left;
  }
}

.about-bg1 {
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: -100px;
  left: -100px;
}

.wrap-name-author {
  @include place(column, space-around, center);
}

.name-author-course {
  @extend %tplfont;
  color: #ffffffea;
}

.name-author {
  font-size: 10vw;
  text-shadow: rgb(182, 23, 76) 1px 0 10px;
  color: #ec33b7;
  @extend %tplfontrubik;
}

.about-author_text{
  color: #fff;
  font-size: 18px;
  @media (max-width: $mobile) {
    font-size: 22px;
  }
}

.planet {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(233, 157, 233);
  border-radius: 100%;
  background-color: #711b74;
  box-shadow: 1px 1px 10px 1px rgb(255, 0, 217);
  margin-right: 10px;
}

.about-author_text-content{
  @include place(row, start, center);
  flex-wrap: nowrap;
  padding: 0 20px;
  margin-top: 15px;
}
