.about-author_section {
  @include place(column, center, center);
  margin-top: 100px;
  @media (max-width: $mobile) {
    margin-top: 50px;
  }
}

.about-author_content {
  margin-left: 10px;
}

.about-author_photo_main-container {
  display: flex;
  min-height: 300px;
}

.about-author_photo_container {
  position: relative;
  width: 50%;
  @media (max-width: $mobile) {
    width: 80vw;
  }
}

.about-author_photo {
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 1;
  filter: drop-shadow(1px 1px 30px rgb(243, 243, 243));
  @media (max-width: $mobile) {
    width: 50vw;
    float: left;
    left: -10px;
  }
}

.about-bg1 {
  position: absolute;
  z-index: 0;
  width: 50vw;
  top: -100px;
  right: -100px;
  @media (max-width: $mobile) {
    width: 50vw;
    width: 100vw;
    left: -100px;
  }
}

.wrap-name-author {
  @include place(column, space-around, center);
}

.name-author-course {
  @extend %tplfont;
  color: #ffffffea;
}

.name-author {
  font-size: 3.5em;
  text-shadow: rgb(182, 23, 76) 1px 0 10px;
  color: #ec33b7;
  @extend %tplfontrubik;
  @media (max-width: $mobile) {
    font-size: 10vw;
  }
}

.about-author_text{
  color: #fff;
  font-size: 18px;
  @media (max-width: $mobile) {
    font-size: 22px;
  }
}

.planet {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(233, 157, 233);
  border-radius: 100%;
  background-color: #711b74;
  box-shadow: 1px 1px 10px 1px rgb(255, 0, 217);
  margin-right: 10px;
}

.about-author_text-content{
  @include place(row, start, center);
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 20px;
  margin-top: 15px;
}
