.container_answer {
  @include place(column, center, center);
  align-items: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.accordion {
  width: 70%;
  background: linear-gradient(90deg, rgba(83,6,43,1) 0%, rgba(210,18,110,1) 32%, rgba(212,18,111,1) 49%, rgba(83,6,43,1) 100%);
  color: whitesmoke;
  cursor: pointer;
  padding: 20px;
  text-align: left;
  font-size: 25px;
  margin-top: 20px;
  transition: 0.3s ease;
  border-radius: 30px;
  @media (max-width: $tablet) {
    width: 80%;
  }
  @media (max-width: $mobile) {
    width: 90%;
  }
}

.active, .accordion:hover {
  background-color: #ee78ee;
}

.panel {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  font-size: 20px;
  color: #000;
  transition: 0.3s ease;
}

.answer_tittle {
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
}

.icon-answ {
  transform: rotate(45deg);
  transition: 0.3s ease;
}

.open-accordeon {
  transform: rotate(0);
}

.answer {
  margin-bottom: 20px;
  @include place(row, space-between, center)
}