.for_section {
  text-align: center;
  @include place(column, center, center);
  align-items: center;
  background-image: url(../../assets/icons/IMG_4262.PNG);
  background-size: cover;
}

.for_section-subtitle{
  @extend %tplfont;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}

.for-elements_container {
  margin-top: 50px;
  width: 95vw;
  @include place(row, start, center);
  align-items: flex-end;
  text-align: center;
  flex: 1;
  flex-wrap: wrap;
}

.for-elements {
  width: 20vw;
  padding: 20px 10px;
  border-radius: 80px;
  border: 1px solid #000;
  background: radial-gradient(circle, rgba(52,44,94,1) 0%, rgba(95,81,170,1) 0%, rgb(37, 31, 69) 81%);
  color: #ffffffba;
  @media (max-width: 1200px) {
    width: 30vw;
  }
  @media (max-width: $tablet-pro) {
    width: 40vw;
  }
  @media (max-width: $mobile) {
    width: 95vw;
    font-size: 15px;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.hl-text {
  text-shadow: rgb(248, 242, 244) 1px 0 0px;
  color: #b81bb8;
}

.for-elements-title {
  font-size: 15px;
  @extend %tplfontrubik;
  margin-bottom: 10px;
}

.for-arrow {
  display: none;
  width: 20vw;
  height: 10rem;
  transform:rotate(90deg);
  @media (max-width: $mobile) {
    display: block;
  }
}

.for-arrow2 {
  width: 20vw;
  height: 10rem;
  transform: scaleX(-1) rotate(90deg);
}

.for-arrow3 {
  @include place(column, center, center);
  width: 1vw;
  height: 10rem;
  color: $main-col;
  font-weight: 600;
  font-size: 40px;
  &:first-child{
    transform: rotate(20deg);
  }
  &:last-child{
    transform: rotate(-20deg);
  }
}

@media (max-width: $mobile) {
  .for-arrow3{
    display: none;
  }
  .for-arrow {
    margin-bottom: 40px;
  }
}

.for-arrow_container{
  margin-top: 20px;
  @include place(row, space-around, center);
}