.for_section {
  text-align: center;
  @include place(column, center, center);
  align-items: center;
  background-image: url(../../assets/icons/IMG_4262.PNG);
  background-size: cover;
}

.for_section-subtitle{
  @extend %tplfont;
  margin: 20px 10px 0;
  color: #ffffffc9;
  overflow: hidden;
  white-space: wrap;
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  @media (max-width: $mobile) {
    font-size: 16px;
  }
}

@keyframes revealText {
  from {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.for-elements_container {
  margin-top: 50px;
  align-items: flex-end;
  text-align: center;
  flex: 1;
  flex-wrap: wrap;
  @media (max-width: $mobile) {
    width: 95vw;
    @include place(row, start, center);
  }
}

.for-elements {
  width: 70vw;
  padding: 20px 10px;
  border-radius: 80px;
  border: 1px solid #000;
  background: radial-gradient(circle, rgba(52,44,94,1) 0%, rgba(95,81,170,1) 0%, rgb(37, 31, 69) 81%);
  color: #ffffffba;
  margin-bottom: 40px;
  opacity: 0;
  @media (max-width: $mobile) {
    width: 95vw;
    font-size: 15px;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hl-text {
  text-shadow: rgb(248, 242, 244) 1px 0 0px;
  color: rgba(212,18,111,1);
}

.for-elements-title {
  @extend %tplfontrubik;
  margin-bottom: 10px;
}