$main-text-col: #b8008d;
$mobile: 550px;
$tablet: 768px;

//@include place(, ,);
@mixin place($fd, $jc, $ac) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-content: $ac;
}

%tplfont {
  font-family: "Marck Script";
  font-style: normal;
}

%tplfontrubik {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  word-spacing: -.6ch;
  font-style: normal;
}

%tpltitle {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: antiquewhite;
}

%tplbutton {
  width: 350px;
  height: 75px;
  background: linear-gradient(90deg, rgba(83,6,43,1) 0%, rgba(210,18,110,1) 32%, rgba(212,18,111,1) 49%, rgba(83,6,43,1) 100%);
  color: #000;
  border-radius: 35px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: 2px solid #fff;
  outline-offset: -5px;
  transition: 0.5s ease;
  text-transform: none;

  &:hover{
    background: linear-gradient(90deg, rgba(210,18,110,1) 0%, rgba(83,6,43,1) 32%, rgba(83,6,43,1) 49%, rgba(212,18,111,1) 100%);
    outline-offset: 0px;
    cursor: pointer;
  }
  @media (max-width: $mobile) {
    width: 80vw;
  }
}