$fz: 16px;
$bg-black: #2a2a2a;
$main-text-col: #b8008d;
$highlight-col: rgb(241, 241, 50);
$main-col: linear-gradient(
  32deg,
  rgba(36, 54, 49, 1) 0%,
  hsl(164, 100%, 50%) 50%,
  rgba(36, 54, 49, 1) 100%
);
$col-lg-green: #00ffbb;
$hover-col: #227d64;
$mobile: 550px;
$tablet: 768px;
$tablet-pro: 950px;
$trn: transform 0.3s ease;

//@include fontz(px, 00);
@mixin fontz($f, $w) {
  font-size: $f;
  font-weight: $w;
}

//@include place(, ,);
@mixin place($fd, $jc, $ac) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-content: $ac;
}

%tplfont{
  font-family: "Marck Script";
  font-style: normal;
}

%tplfontrubik{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  word-spacing: -.6ch;
  font-style: normal;
}

%tplborder {
  border: 2px solid rgb(161, 212, 32);
}

%tplborder-radius {
  border-radius: 35px 0 0 35px;
}

%tpltitle {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: antiquewhite;
}

%tplbutton {
  width: 250px;
  height: 65px;
  background: linear-gradient(90deg, rgba(83,6,43,1) 0%, rgba(210,18,110,1) 32%, rgba(212,18,111,1) 49%, rgba(83,6,43,1) 100%);
  color: #000;
  border-radius: 35px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: 2px solid #fff;
  outline-offset: -5px;
  transition: 0.7s ease;
  text-transform: none;

  &:hover{
    background: linear-gradient(90deg, rgba(210,18,110,1) 0%, rgba(83,6,43,1) 32%, rgba(83,6,43,1) 49%, rgba(212,18,111,1) 100%);
    color: #fff;
    cursor: pointer;
  }
  @media (max-width: $mobile) {
    width: 80vw;
  }
}