.paymants-methods_section {
  position: relative;
  margin-top: 50px;
  @include place(column, center, center);
  align-items: center;
}

.paymants_tittle {
  font-size: 1em;
  @media (max-width: $mobile) {
    padding: 10px;
  }
}

.paymants_tittle-wrap {
  @include place(column, center, center);
  background-image: url('../../assets/icons/IMG_4257.PNG');
  background-size: 110% 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 70vw;
  height: 200px;
  @media (max-width: $mobile) {
    max-width: 70vw;
    height: 150px;
  }
}