.result-after-section {
  @include place(column, center, center);
  align-items: center;
  margin: 0 0 4px;
}

.result-after-text {
  width: 80vw;
  border: 4px solid rgb(245, 248, 249);
  background-color: #8b1bad;
  box-shadow: 1px 1px 30px 10px rgb(136, 36, 190);
  border-radius: 20px;
  padding: 10px;
  color: #ffffffcb;
  text-align: center;
  margin-top: 60px;
}

.result-after-title {
  color: #fe6ce8;
  font-size: 70px;
  font-weight: 600;
  text-shadow: #fe6ce8 1px 0 10px;
  margin-bottom: 10px;
}

.result-after-subtitle {
  font-size: 30px;
  color: #fe6ce8;
  text-shadow: #fe6ce8 1px 0 10px;
}