.result_section {
  margin-top: 50px;
  width: 90vw;
}

.container_result {
  margin-top: 50px;
  @include place(row, center, center);
  height: fit-content;
}

.result_text {
  @include place(column, space-between, center);
  text-align: right;
  margin-right: 10px;
}

.result_text1 {
  @include place(column, space-around, center);
  margin-left: 10px;
  padding-top: 50px;
}

.number_block {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 30px 5px red;
  text-align: center;
  color: black;
  font-weight: 600;
}

.line {
  width: 2px;
  height:fit-content;
}

.result_blocks {
  @include place(column, center, center);
  align-items: center;
}