.social-media_section {
  margin: 40px 0;
  @include place(column, center, center);
  align-items: center;
}

.social-media_items {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 10px;
  &:hover{
    filter: drop-shadow(1px 1px 10px rgb(248, 222, 245));
  }
}