.think_section {
  position: relative;
  @include place(column, center, center);
  margin-top: 80px;
}

.wrap_think {
  position: relative;
  min-height: 400px;
  width: 100%;
  @media (max-width: $mobile) {
    width: 190vw;
  }
}

.think-container {
  display: flex;
}


.think_title {
  font-size: 3em;
  color: rgb(255, 188, 242);
  @media (max-width: $tablet) {
    font-size: 2em;
  }
}

.think_subtitle {
  color: #f64fbb;
}

.think_text {
  width: 40vw;
  position: relative;
  line-height: 3;
  &::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: -60px;
    border-radius: 50%;
    border-color: #04afde;
    border-style: solid;
    border-width: 3px 3px 0 0;
    margin-bottom: 10px;
  }
  @media (max-width: $tablet) {
    line-height: 1.5;
    &::before {
      width: 40px;
      height: 40px;    }
  }
}

.think_button {
  display: block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  @media (max-width: $mobile) {
    margin: 40px 10% 0;
  }
}

.think-photo {
  width: 260px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  @media (max-width: $mobile) {
    left: -10px;
    width: 55vw;
  }
}

.think-bg2 {
  position: absolute;
  z-index: 0;
  width: 500px;
  top: -100px;
  right: -150px;
  @media (max-width: $mobile) {
    width: 50vw;
    width: 100vw;
    top: -100px;
    left: -100px;
  }
}

