@import "./sass/nullstyle.scss";
@import "./sass/mixins.scss";
@import "./sass/about.scss";
@import "./sass/for-section.scss";
@import "./sass/about-author.scss";
@import "./sass/programm-course.scss";
@import "./sass/paymants.scss";
@import "./sass/think.scss";
@import "./sass/answer.scss";

body {
  background-image: url(https://static.wixstatic.com/media/84077e_0c1f4edbca184b8881a6e42c2f7a30cb~mv2.jpg/v1/fill/w_980,h_1476,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84077e_0c1f4edbca184b8881a6e42c2f7a30cb~mv2.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-color: #2a2a2a;
  color: $main-text-col;
  font-size: 22px;
}

.container{
  @include place(column, center, center);
  align-items: center;
}

.title {
  @extend %tpltitle;
}

.none-content {
  display: none;
}

.sicial_title {
  margin-bottom: 50px;
}

.answer_button {
  margin-top: 50px;
  margin-bottom: 50px;
}