@import "./sass/nullstyle.scss";
@import "./sass/mixins.scss";
@import "./sass/about.scss";
@import "./sass/for-section.scss";
@import "./sass/about-author.scss";
@import "./sass/programm-course.scss";
@import "./sass/paymants.scss";
@import "./sass/think.scss";
@import "./sass/answer.scss";
@import "./sass/result.scss";
@import "./sass/result-section.scss";
@import "./sass/social.scss";

body {
  color: $main-text-col;
  font-size: 22px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  background: linear-gradient(0deg, rgba(27,2,43,1) 9%, rgba(34,12,48,1) 37%, rgba(27,2,43,1) 60%, rgba(27,2,43,1) 95%);
  align-items: center;
}

.title {
  @extend %tpltitle;
}

.none-content {
  display: none;
}

.sicial_title {
  margin-bottom: 50px;
}

.answer_button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-template {
  @extend %tplbutton;
}
