@import "./sass/nullstyle.scss";
@import "./sass/mixins.scss";
@import "./sass/about.scss";
@import "./sass/for-section.scss";
@import "./sass/about-author.scss";
@import "./sass/programm-course.scss";
@import "./sass/paymants.scss";
@import "./sass/think.scss";
@import "./sass/answer.scss";
@import "./sass/result.scss";
@import "./sass/result-section.scss";
@import "./sass/social.scss";
@import "./sass/burger-menu.scss";

body {
  color: $main-text-col;
  font-size: 22px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  position: relative;
  background: linear-gradient(0deg, rgba(27,2,43,1) 9%, rgba(34,12,48,1) 37%, rgba(27,2,43,1) 60%, rgba(27,2,43,1) 95%);
  align-items: center;
  padding-bottom: 20px;
}

.title {
  @extend %tpltitle;
}

.none-content {
  display: none;
}

.sicial_title {
  margin-bottom: 50px;
}

.answer_button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-template {
  @extend %tplbutton;
}

.up-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 999;
}

.show {
  opacity: 1;
  visibility: visible;
}