* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, asider {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: -100%;
  -moz-text-size-adjust: -100%;
  -webkit-text-size-adjust: -100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.number-lessons, .name-author-course, .for_section-subtitle, .subtittle-about {
  font-family: "Marck Script";
  font-style: normal;
}

.name-author, .for-elements-title, .sum-about, .tittle-about {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  word-spacing: -0.6ch;
  font-style: normal;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: antiquewhite;
}

.button-template {
  width: 250px;
  height: 65px;
  background: linear-gradient(90deg, rgb(83, 6, 43) 0%, rgb(210, 18, 110) 32%, rgb(212, 18, 111) 49%, rgb(83, 6, 43) 100%);
  color: #000;
  border-radius: 35px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: 2px solid #fff;
  outline-offset: -5px;
  transition: 0.7s ease;
  text-transform: none;
}
.button-template:hover {
  background: linear-gradient(90deg, rgb(210, 18, 110) 0%, rgb(83, 6, 43) 32%, rgb(83, 6, 43) 49%, rgb(212, 18, 111) 100%);
  color: #fff;
  cursor: pointer;
}
@media (max-width: 550px) {
  .button-template {
    width: 80vw;
  }
}

.about_section {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
  align-items: center;
  z-index: 0;
  padding: 20px 0 50px 0;
}

.main-photo {
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  z-index: -1;
}
@media (max-width: 610px) {
  .main-photo {
    max-width: 80vw;
  }
}

.about-bg {
  width: 100vw;
  height: 400px;
  position: absolute;
  z-index: -2;
  top: 10px;
}

.subtittle-about {
  position: absolute;
  top: 20vh;
  z-index: -2;
  color: #fff;
  font-size: 5em;
}
@media (max-width: 550px) {
  .subtittle-about {
    font-size: 1.5em;
  }
}

.subtittle1-about {
  margin-left: 160px;
  margin-left: 10vw;
  margin-left: 30vw;
}

.tittle-about {
  color: #fab5d8;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
  text-shadow: black;
}

.timer-wrap {
  background-color: #301c54;
  border-radius: 20px;
  border-top: 4px solid #c5b8ec;
  border-bottom: 5px solid #1d1a25;
  padding-top: 15px;
  margin-top: 5px;
}

.timer-container {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 5px;
}
@media (max-width: 550px) {
  .timer-container {
    width: 75vw;
  }
}

.timer {
  background-color: #fff;
  border: 3px solid #1b1a1a;
  border-radius: 15px;
  color: #000;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 0 5px;
}

.colon {
  color: #fff;
  font-size: 50px;
  margin: 0 5px;
}

.timer-text {
  color: #fff;
  font-size: 18px;
}

.sum-about {
  text-decoration: line-through;
  font-size: 2rem;
  margin: 10px 0;
  color: #d4197a;
}

.about-start {
  position: absolute;
  top: 20px;
  width: fit-content;
  padding: 0 20px;
  height: 80px;
  border-radius: 40px;
  border: 3px solid rgba(221, 228, 253, 0.9725490196);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgb(243, 186, 215);
  font-weight: 600;
  font-size: 32px;
  box-shadow: 0px 0px 15px rgb(141, 96, 237), inset 0px 0px 15px rgb(188, 141, 235);
}
@media (max-width: 550px) {
  .about-start {
    padding: 0;
    width: 70vw;
  }
}

.about-start_date {
  margin-left: 5px;
}

.for_section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(../../assets/icons/IMG_4262.PNG);
  background-size: cover;
}

.for_section-subtitle {
  margin: 20px 10px 0;
  color: rgba(255, 255, 255, 0.7882352941);
  font-size: 16px;
}

.for-elements_container {
  margin-top: 50px;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: flex-end;
  text-align: center;
  flex: 1;
  flex-wrap: wrap;
}

.for-elements {
  width: 20vw;
  padding: 20px 10px;
  border-radius: 80px;
  border: 1px solid #000;
  background: radial-gradient(circle, rgb(52, 44, 94) 0%, rgb(95, 81, 170) 0%, rgb(37, 31, 69) 81%);
  color: rgba(255, 255, 255, 0.7294117647);
}
@media (max-width: 1200px) {
  .for-elements {
    width: 30vw;
  }
}
@media (max-width: 950px) {
  .for-elements {
    width: 40vw;
  }
}
@media (max-width: 550px) {
  .for-elements {
    width: 95vw;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .for-elements:last-child {
    margin-bottom: 0;
  }
}

.hl-text {
  text-shadow: rgb(248, 242, 244) 1px 0 0px;
  color: rgb(212, 18, 111);
}

.for-elements-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.for-arrow {
  display: none;
  width: 20vw;
  height: 10rem;
  transform: rotate(90deg);
}
@media (max-width: 550px) {
  .for-arrow {
    display: block;
  }
}

.for-arrow2 {
  width: 20vw;
  height: 10rem;
  transform: scaleX(-1) rotate(90deg);
}

.for-arrow3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 1vw;
  height: 10rem;
  color: linear-gradient(32deg, rgb(36, 54, 49) 0%, hsl(164, 100%, 50%) 50%, rgb(36, 54, 49) 100%);
  font-weight: 600;
  font-size: 40px;
}
.for-arrow3:first-child {
  transform: rotate(20deg);
}
.for-arrow3:last-child {
  transform: rotate(-20deg);
}

@media (max-width: 550px) {
  .for-arrow3 {
    display: none;
  }
  .for-arrow {
    margin-bottom: 40px;
  }
}
.for-arrow_container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.about-author_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.about-author_photo_main-container {
  display: flex;
  height: 300px;
}

.wrap_about-author {
  position: absolute;
  width: 120%;
  height: 100%;
  background-image: url("../../assets/images/IMG_4665.PNG");
  background-size: cover;
  z-index: 2;
}

.about-author_photo_container {
  position: relative;
  width: 80vw;
}

.about-author_photo {
  position: absolute;
  width: 35vw;
  height: 100%;
  left: -10px;
  z-index: 1;
}
@media (max-width: 550px) {
  .about-author_photo {
    width: 50vw;
    float: left;
  }
}

.about-bg1 {
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: -100px;
  left: -100px;
}

.wrap-name-author {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.name-author-course {
  color: rgba(255, 255, 255, 0.9176470588);
}

.name-author {
  font-size: 10vw;
  text-shadow: rgb(182, 23, 76) 1px 0 10px;
  color: #ec33b7;
}

.about-author_text {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 550px) {
  .about-author_text {
    font-size: 22px;
  }
}

.planet {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(233, 157, 233);
  border-radius: 100%;
  background-color: #711b74;
  box-shadow: 1px 1px 10px 1px rgb(255, 0, 217);
  margin-right: 10px;
}

.about-author_text-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  flex-wrap: nowrap;
  padding: 0 20px;
  margin-top: 15px;
}

.programm-course_section {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  color: #000;
  z-index: 1;
  background-image: url("../../assets/icons/IMG_4262.PNG");
  background-position: center;
}

.container-lessons {
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  background-color: #4e025c;
  border-radius: 50px;
  padding: 0 10px 20px;
  margin-bottom: 100px;
  box-shadow: 1px 0px 40px 2px #d92f8c;
}
.container-lessons::after {
  content: "";
  top: -10px;
  left: -10px;
  z-index: -1;
  position: absolute;
  width: 70%;
  height: 50%;
  background-color: #fff;
  border-radius: 50px;
}
.container-lessons::before {
  content: "";
  bottom: -10px;
  right: -10px;
  z-index: -1;
  position: absolute;
  width: 70%;
  height: 50%;
  background-color: #fff;
  border-radius: 50px;
}

.element-lessons {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 15px;
  color: #f772b6;
}

.element-lessons li {
  list-style: disc;
}

.title-programm {
  font-size: 52px;
}

.number-lessons {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.bonus {
  width: 50%;
  background-color: #ffb6db;
  padding: 10px 5px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 40px;
}

.container_list-number {
  width: 70vw;
  margin-top: 50px;
  border-top: 2px solid rgba(162, 147, 147, 0.3254901961);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 950px) {
  .container_list-number {
    width: 85vw;
  }
}

.container_list-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
  width: 100%;
  height: 50px;
  align-items: end;
  font-size: 25px;
  font-weight: 600;
}
.container_list-element:hover {
  border-top: 4px solid #a29393;
  cursor: pointer;
}
@media (max-width: 650px) {
  .container_list-element {
    font-size: 18px;
  }
}

.container_lessons-description {
  align-self: flex-start;
  margin-top: 40px;
  padding-left: 20px;
}

.title-lessons {
  text-align: center;
  color: #fc0093;
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
}

.paymants-methods_section {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.paymants_tittle {
  width: 50vw;
  margin-bottom: 80px;
  /* &::before {
    content: '';
    position: absolute;
    width: 13vw;
    height: 7px;
    top: 10px;
    left: -13vw;
    border-radius: 2px;
    background-color: $main-text-col;
    box-shadow: 1px 1px 30px 5px red;
  }
  &::after {
    content: '';
    position: absolute;
    width: 13vw;
    height: 7px;
    top: 10px;
    right: -13vw;
    border-radius: 2px;
    background-color: $main-text-col;
    box-shadow: 1px 1px 30px 5px red;
  } */
}

.paymants-img {
  top: -160px;
  position: absolute;
  width: 100vw;
}

.think_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.wrap_think {
  position: relative;
  min-height: 400px;
  width: 150vw;
}

.wrap_think-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/IMG_4665.PNG");
  background-size: cover;
  z-index: 2;
}

.think-container {
  display: flex;
}

.think_title {
  font-size: 70px;
  color: rgb(255, 188, 242);
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .think_title {
    font-size: 45px;
  }
}

.think_subtitle {
  color: #f64fbb;
}

.think_text {
  width: 40vw;
  position: relative;
  line-height: 3;
}
.think_text::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: -60px;
  border-radius: 50%;
  border-color: #04afde;
  border-style: solid;
  border-width: 3px 3px 0 0;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .think_text {
    line-height: 1.5;
  }
  .think_text::before {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  .think_button {
    align-self: center;
    margin: 40px 10% 0;
    /* position: absolute;
    left: 0;
    right: 0;
    margin: 50px auto 0; */
  }
}

.think-photo {
  width: 50vw;
  height: 100%;
  position: absolute;
  left: -10px;
  z-index: 1;
}

.container_answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.accordion {
  width: 70%;
  background: linear-gradient(90deg, rgb(83, 6, 43) 0%, rgb(210, 18, 110) 32%, rgb(212, 18, 111) 49%, rgb(83, 6, 43) 100%);
  color: whitesmoke;
  cursor: pointer;
  padding: 20px;
  text-align: left;
  font-size: 25px;
  margin-top: 20px;
  transition: 0.3s ease;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .accordion {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .accordion {
    width: 90%;
  }
}

.active, .accordion:hover {
  background-color: #ee78ee;
}

.panel {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  font-size: 20px;
  color: #000;
  transition: 0.3s ease;
}

.answer_tittle {
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
}

.answer-button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon-answ {
  transform: rotate(45deg);
  transition: 0.3s ease;
}

.open-accordeon {
  transform: rotate(0);
}

.answer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.result_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  width: 95vw;
  color: rgba(255, 255, 255, 0.8156862745);
}

.container_result {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: fit-content;
}

.container_result-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: right;
  margin-bottom: 20px;
}
.container_result-text:nth-child(even) {
  flex-direction: row-reverse;
  text-align: left;
}

.result_blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.result-title {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.result-text {
  font-size: 15px;
}

.result-icon {
  width: 100px;
  height: 100px;
}

.result-adition-text {
  text-align: center;
}

.result-after-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 0 4px;
}

.result-after-text {
  width: 80vw;
  border: 4px solid rgb(245, 248, 249);
  background-color: #8b1bad;
  box-shadow: 1px 1px 30px 10px rgb(136, 36, 190);
  border-radius: 20px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7960784314);
  text-align: center;
  margin-top: 60px;
}

.result-after-title {
  color: #fe6ce8;
  font-size: 70px;
  font-weight: 600;
  text-shadow: #fe6ce8 1px 0 10px;
  margin-bottom: 10px;
}

.result-after-subtitle {
  font-size: 30px;
  color: #fe6ce8;
  text-shadow: #fe6ce8 1px 0 10px;
}

.social-media_section {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

body {
  color: #b8008d;
  font-size: 22px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background: linear-gradient(0deg, rgb(27, 2, 43) 9%, rgb(34, 12, 48) 37%, rgb(27, 2, 43) 60%, rgb(27, 2, 43) 95%);
  align-items: center;
}

.none-content {
  display: none;
}

.sicial_title {
  margin-bottom: 50px;
}

.answer_button {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
